
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Vidaloka&display=swap');

body{
    background-color: rgb(243, 239, 239);
    font-family: 'Vidaloka', serif;
    
}
.container{
    max-width: 90%;
    background-color: rgb(243, 239, 239);
    margin: 0 auto;
    padding-top: 40px;
}
/* header section code start */
.header-section{
    display: flex;
    
    
}
.header-section-title{
    font-size: 18px;
    text-align: left;
   
}
.header-section-1{
    width: 40%;
    padding-top: 50px;
}
.header-section-1 h2{
    font-size: 38px;
    font-weight: 700;
    padding: 0px;
}
.header-section-1 p{
    font-size: 12px;
    font-weight: 550;
    padding: 0px 0px 10px 0px;
}
.header-section-2{
    width: 50%;
}
.header-section-2 img{
    padding-left: 40px;
    overflow: hidden;
}
.header-section button{
    background-color: rgb(192, 93, 11);
    color: white;
    padding: 8px 20px;
    border-radius: 30px;
    font-size: 11px;
    font-weight:700;
    border: 1px solid black;
}
.header-section button:hover{
    transform: scale(2) rotate(360deg);
    transition: transform 5s ease-in-out;
}
.header-section button i{
    margin-left: 10px;
}

/* banner section code start */
.banners{
    width: 70%;
    margin: 50px auto;
    display: grid;
    border-top: 2px solid gray;
    padding: 20px;
    border-bottom: 2px solid gray;
    grid-template-columns: repeat(6,1fr);

}
.banner
.banner img{
    width: 80px;
}
/* gallery section code start */
.gallery-section{
    width: 75%;
    margin: 0 auto;
}
.gallery-album{
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(3,1fr);
}
.gallery-title{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}
.img-details .img-title{
    font-size: 18px;
    margin-top: -1px;
}
.img-details img-price{
    font-size: 18px;
    margin-top: -1px;
}
.ratting span{
    margin-left: 5px;
    font-size: 10px;
    margin-top: 0px;

}
.icon i{
    margin-right: 2px;
}
.ratting .icon{
    margin-top: -8px;
    color: rgb(255, 221, 71);
    font-size: 7px;
    padding-right: 2px;
      
}
.icon span{
    color: black;
}

.gallery{
    width: 230px;
    background-color: white;
    padding: 10px;
    
}
.gallery img{
    width: 230px;
}
.sub-title p{
   
    font-size: 11px;
    line-height: 5px;
    text-align: left;

}
.new-button{
    color: rgb(192, 93, 11);
    text-align: right;
    align-items: center;
   
}
.new-icon{
    margin-left: 5px;
    align-items: center;
}

/* footer section code start */
footer{
    background-color: rgb(26, 1, 1);
    text-align: center;
    color: white;
    padding: 30px;
    margin-top: 50px;
}
footer span img{
    width: 10px;
}

/* media querry code start */



.extra-section{
    width: 100%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   text-align: center;
   margin-left: 50px;
   padding: 30px 0px;

}
.testimonialone{
    width:  50%;
    
}


.testimonialone img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testimonialone i{
    font-size: 30px;
    color: rgb(204, 197, 184);
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.testimonial i{
    font-size: 30px;
    color: rgb(204, 197, 184);
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.comment{
    width: 50%;
    height: 120px;
    border: 1px solid orange;
    text-align: center;
    border-radius: 40px;
    padding:30px;
    background-color: white;
    box-shadow: 10px 10px 10px gray;
}

/* footer section code end */




/* gallery section code end */

/* media querry code start */
@media screen and (min-width: 900px) {
    .banners{
        display: grid;
        grid-column-gap: 20px;
    }
    .gallery-section{
        width: 75%;
        margin: 0 auto;
    }
    .gallery-album{
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(3,1fr);
    }
    .gallery-title{
        text-align: center;
        padding-top: 40px;
        font-size: 30px;
    }
    .img-details .img-title{
        font-size: 18px;
        margin-top: -1px;
    }
    .img-details img-price{
        font-size: 18px;
        margin-top: -1px;
    }
    .ratting span{
        margin-left: 5px;
        font-size: 10px;
        margin-top: 0px;
    
    }
    .icon i{
        margin-right: 2px;
    }
    .ratting .icon{
        margin-top: -8px;
        color: rgb(255, 221, 71);
        font-size: 7px;
        padding-right: 2px;
          
    }
    .icon span{
        color: black;
    }
    
    .gallery{
        width: 230px;
        background-color: white;
        padding: 10px;
        
    }
    .gallery img{
        width: 230px;
    }
    .sub-title p{
       
        font-size: 11px;
        line-height: 5px;
        text-align: left;
    
    }
    .new-button{
        color: rgb(192, 93, 11);
        text-align: right;
        align-items: center;
       
    }
    .new-icon{
        margin-left: 5px;
        align-items: center;
    }
    
    /* footer section code start */
    footer{
        background-color: rgb(26, 1, 1);
        text-align: center;
        color: white;
        padding: 30px;
        margin-top: 50px;
    }
    footer span img{
        width: 10px;
    }
    .extra-section{
        
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 20px;
        
      
       
       
     
     }
     .testimonialone{
         width:400px !important;
         margin-top: 30px;
         text-align: center;
         overflow: hidden;
         margin-right: 10px;
         
     }
     .testimonial{
        width:400px !important;
         margin-top: 30px;
         text-align: center; 
         overflow: hidden;
 
     }
     .testimonial img{
         width: 100px;
         height: 100px;
         border-radius: 50%;
     }
     .testimonialone img{
         width: 100px;
         height: 100px;
         border-radius: 50%;
     }
     .testimonialone i{
         font-size: 30px;
         color: rgb(204, 197, 184);
         margin-right: 30px;
         margin-top: 10px;
         margin-bottom: 10px;
     }
     .testimonial i{
         font-size: 30px;
         color: rgb(204, 197, 184);
         margin-right: 30px;
         margin-top: 10px;
         margin-bottom: 10px;
     }
     .comment{
         width: 50%;
         margin: 20px;
         height: auto;
         border: 1px solid orange;
         text-align: center;
         overflow: hidden;
         border-radius: 40px;
     
         background-color: white;
         box-shadow: 10px 10px 10px gray;
     }
     .comment p{
         padding: 10px;
     }
    
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  
  @media screen  and (max-width:899px){
    .container{
        max-width: 80%;
        background-color: rgb(243, 239, 239);
        margin: 0 auto;
        padding:50px;

    }
    .banners{
        width: 100%;
        margin: 50px auto;
        display: grid;
        grid-row-gap: 30px;
        border-top: 2px solid gray;
        padding: 20px;
        border-bottom: 2px solid gray;
        grid-template-columns: repeat(3,1fr);
    
    }
    
    .banner img{
        width: 80px;
    }
    .gallery-title{
        margin-top: 70px;
        font-size: 40px;
        text-align: center;
    }
    .gallery-album{
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }
    footer{
        background-color: rgb(26, 1, 1);
        text-align: center;
        color: white;
        
        width:100%;
    }
    footer span img{
        width: 10px;
    }
    .gallery-title{
        text-align:right;
        font-size: 40px;
    }
    .gallery-section{
        width: 100%;
        margin: 0 auto;
    }
    .gallery{
        width: 300px;
        background-color: white;
        padding: 10px;
        
    }
    .gallery img{
        width: 300px;
    }
    .extra-section{
       width: 100%;
       display: flex;
    
       text-align: center;
      
      
    
    }
    .testimonialone{
        width: 50%;
        margin-top: 30px;
        text-align: center;
        
    }
    .testimonial{
        width: 50%;
        margin-top: 30px;
        text-align: center; 

    }
    .testimonial img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .testimonialone img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .testimonialone i{
        font-size: 30px;
        color: rgb(204, 197, 184);
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .testimonial i{
        font-size: 30px;
        color: rgb(204, 197, 184);
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .comment{
        width: 50%;
        height: auto;
        border: 1px solid orange;
        text-align: center;
        overflow: hidden;
        border-radius: 40px;
    
        background-color: white;
        box-shadow: 10px 10px 10px gray;
    }
    .comment p{
        padding: 10px;
    }
    
  }
/* media querry code end */





/* jgkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */
@media screen and (max-width:500px) {
    .container{
        width: 80%;
    }
    .header-section-title{
        text-align: center;
    } 
    .header-section{
        display: flex;
        flex-direction: column; 
        text-align: center;
    }
    .header-section-1{
        width: 320px;
        text-align: center;
    }
    .header-section-2{
        text-align: center;
        width: 100%;
    }
    .header-section-2 img{
        width:320px;
        margin-top: 50px;
        text-align: center;
        overflow: hidden;
    }
 .banners{
     display: none;
 }
    .gallery-album{
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(1,1fr);
    }
    .gallery-section{
        width: 400px;
        margin: 0 auto;
    }
    .gallery{
        width: 100%;
        background-color: white;
        padding: 10px;
        
    }
    .gallery img{
        width: 100%;
    }
    .img-details .img-title{
        font-size: 40px;
        margin-top: -1px;
        font-weight: 500;
    }

    .img-details .img-price{
        font-size: 25px;
        margin-top: -10px;
        font-weight: 500;
    }
    .ratting span{
        margin-left: 5px;
        font-size: 10px;
        margin-top: 0px;
    
    }
    .ratting .icon{
        margin-top: -8px;
        color: rgb(255, 221, 71);
        font-size: 13px;
        padding-right: 10px;
          
    }
    .icon i{
        margin-right: 4px;
    }
    .icon span{
        color:rgb(14, 12, 4);
        font-size: 13px;
        
        
    }
    .new-button{
        color: rgb(192, 93, 11);
        text-align: right;
        align-items: center;
        margin-right: -18px;
    }
    .new-icon{
        margin-left: 5px;
        align-items: center;
    }
    .sub-title p{
   
        font-size: 20px;
        line-height: 5px;
        text-align: left;
    
    }

   /* testimonial section coded */
    
.extra-section{
    width: 400px;
   display: flex;
   flex-direction: column;
   text-align: center;
  
  

}
.testimonialone{
    width: 400px;
    margin-top: 30px;
    text-align: center;
    
}
.testimonial{
    width: 400px;
    margin-top: 30px;
    text-align: center;  
}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testimonialone img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testimonialone i{
    font-size: 30px;
    color: rgb(204, 197, 184);
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.testimonial i{
    font-size: 30px;
    color: rgb(204, 197, 184);
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.comment{
    width: 350px;
    height: 120px;
    border: 1px solid orange;
    text-align: center;
    border-radius: 40px;

    background-color: white;
    box-shadow: 10px 10px 10px gray;
}


   /* testimonial code end */

    footer{
        width: 500px;
        
    }
  
  }